body{
    background-color: hsl(0, 0%, 71%);
    display: flex;
    justify-content: center;
}
.container{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
h2{
    font-family: monospace;    
    text-align: center;
}
input{
    padding: 10px 50px 10px 20px;
    font-family: monospace;
    font-size: 22px;
}
button{
    font-family: monospace;
    font-size: 22px;
    padding: 10px 15px;
    margin-left: -5px;
    cursor: pointer;
}
.our{
    display: flex;
    gap: 0px;
}
.lists{
    display: flex;
    flex-direction: column;
    gap: 5px;
    border-radius: 10px;
    padding: 2px;
    list-style: none;
    font-family: monospace;
    font-weight: bold;
    font-size: 15px;
}
ul li{
    background-color: hsl(0, 0%, 81%);
    padding: 8px 8px;
    width: 100%;
    border-radius: 5px;
    position: relative;
    cursor: pointer;
}
ul li.active{
    text-decoration: line-through;
    background-color: hsl(0, 0%, 51%);
}
ul li span{
    position: absolute;
    top: 2.5px;
    right: 10px;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transition: background-color 0.2s ease;
    cursor: pointer;
    
}
ul li span:hover{
    background-color: hsl(0, 0%, 61%);
}
